body {
    font-family: 'Montserrat', sans-serif;
}

main {
    background-image: url('../img/fondo.jpg');
    font-size: 50%;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: -7%;
    margin-bottom: -5%;

}

header {
    background-color: #f1e7f2;
    padding: 20px 0;
}

.caja img {
    width: 20%;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.section-left {
    display: flex;
    font-size: 5em;
    margin: 2%;
    width: 98%;
    ;
    grid-auto-columns: 50% 50%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.section-right {
    display: flex;
    font-size: 5em;
    margin: 2%;
    width: 98%;
    grid-auto-columns: 50% 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.section-left img {
    box-shadow: 0px 0px 10px 10px #d2add9;
    margin: 5%;
    max-width: 20%;
}

.section-right img {
    box-shadow: 0px 0px 10px 10px #d2add9;
    margin: 5%;
    max-width: 20%;
}

.section-left p {
    display: block;
    margin: 1%;
    color: #000000;
    font-size: 60%;
}

/*.section-left  p:hover{
    display: block;
    margin: 1%;
    color: rgb(255, 255, 255);
    font-size: 60%;
}*/

.section-right p {
    display: block;
    margin: 1%;
    color: #000000;
    font-size: 60%;
}

/*.section-right  p:hover{
    display: block;
    margin: 1%;
    color: rgb(255, 255, 255);
    font-size: 60%;
}*/

/*.section-left:hover{
    cursor:pointer;
    color: #ffffff ;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 10px rgb(85, 3, 3);
}

.section-right:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 10px rgb(85, 3, 3);
    box-sizing: content-box;
}*/

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #a924c3;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}


nav a:hover {
    color: #f584eb;
    text-decoration: underline;
}

.productos {
    width: 860px;
    margin: 0 auto;
    padding: 50px;
}
.productos img{
    width: 90%;
}


.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 10px 1.5%;
    padding: 30px 28px;
    box-sizing: border-box;
    border: 2px solid #c877d9;
    border-radius: 50px;
}

.productos li:hover {
    border-color: #5e0570;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 10px 1.5%;
    padding: 30px 28px;
    box-sizing: border-box;
    border-radius: 50px;
}

.productos li:active {
    border-color: #ffffff;
}

.productos h2 {
    font-size: 25px;
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 30px;
}
.productos p {
    font-size: 2.5em;
}


.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    display: flex;
    text-align: center;
    margin-top: 5%;  
    padding: 0%;
    font-size: 100%;
    box-shadow: 5px 2px 5px 5px #6d4f73;
    background-color: #fed8ff;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}



.footer-fondo p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer .social img a {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    display: grid;
    margin: 40px 0;
    justify-content: center;
    justify-items: center;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 30px 0px 30px 0px;
}

fieldset {
    display: grid;
    justify-items: center;
}

.input-box {
    display: block;
    margin: 0 0 20px;
    padding: 10px 80px;
    border-radius: 60px;
    background: transparent;
}

.checkbox {
    margin: 8px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    margin: 8%;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: #6e5074;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #fed8ff;
    color: #000000;
    transform: scale(1.2);
}


table {
    margin: 40px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}


/*Aquí inicia el CSS para nuestra home*/

.banner {
    width: 100%;
}

.principal {
    padding: 2em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}


.titulo-principal {
    text-align: center;
    font-size: 3.2em;
    margin: 0 0 0em;
    clear: left;
}


.principal strong {
    font-weight: bold;
}


.principal em {
    font-style: italic;
}


.items {
    line-height: 1.5;
}

.items:before {
    content: "★";
}

.items:first-child {
    font-weight: bold;
}

.video {
    display: flex;
    width: 560px;
    margin: 30px 230px 2%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:480px) {
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .caja,
    .principal,
    .video {
        width: auto;
    }

}